.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100% - var(--header-height));
  overflow: auto;
  padding: 2rem 10%;
}

.header {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: flex-end;
  width: 100%;
}

.button {
  width: 6rem;
}

.poll {
  align-items: center;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0 0.9375rem 0 var(--primary-color);
  color: var(--dark-grey);
  display: flex;
  font-weight: bold;
  padding: 1rem;
  margin: 1rem 0;
  width: 100%;
}

.description {
  max-height: 5.5rem;
  overflow: hidden;
}

.controls {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  min-width: 15%;
}

.controls > .button {
  margin-left: 0.5rem;
}

.close {
  background: var(--red) !important;
}

.results {
  background: var(--green) !important;
}