:root {
  /* colors */
  --primary-color: #443854;
  --secondary-color: #E0DFCF;

  --grey: #AEB1B7;
  --dark-grey: #3F3F3F;
  --light-grey: #CCC;

  --font-color: #FFF;

  --red: #DB3D3D;
  --yellow: #FAE06C;
  --green: #4C9463;

  /* dimensions */
  --header-height: 4rem;
}

html, body, #root { height: 100% }

body {
  background: var(--secondary-color);
  color: var(--font-color);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0.3125rem 0 var(--primary-color);
}