.header {
  align-items: center;
  background: var(--primary-color);
  display: flex;
  height: var(--header-height);
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
}

.link {
  text-decoration: none;
}

.title {
  color: var(--font-color);
  font-size: 1.3rem;
}