.wrapper {
  border-radius: 0.5rem;
}

.error {
  background: var(--red);
  color: var(--font-color);
}

.warning {
  background: var(--yellow);
  color: var(--dark-grey);
}

.success {
  background: var(--green);
  color: var(--font-color);
}